<% if user_signed_in? %>
  <% if post.favorited_by?(current_user) %>
    <%= link_to post_favorite_path(post,post.favorite_of(current_user)), method: :delete, remote: :true do %>
      <button type="button" class="btn btn-light">
        <h2><i class="fa fa-star" aria-hidden="true"></i><%= post.favorites.count %></h2>
      </button>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post.id), method: :post, remote: :true do %>
      <button type="button" class="btn btn-light">
        <h2><i class="fa fa-star-o" aria-hidden="true"></i><%= post.favorites.count %></h2>
      </button>
    <% end %>
  <% end %>
<% else %>
  <button type="button" class="btn btn-light">
    <h2><i class="fa fa-star" aria-hidden="true"></i><%= post.favorites.count %></h2>
  </button>
<% end %>