<%= render "shared/header" %>
<%# /検索 %>
<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<%# お気に入り一覧%>
<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>
<div class="row">
  <% @favorite_posts.each do |favorite| %>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= link_to favorite.campsite, "#", method: :get %></h4>
        </div>
        <%= link_to post_path(@post.id), method: :get do %>
          <%= image_tag favorite.image, class: "img-fluid" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-subtitle"><%= link_to favorite.user.nickname, "/users/#{@post.user_id}", method: :get %></h5>
        </div>
        <h5 class="card-text"><%= favorite.text %></h5>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/footer" %>