<%= render "shared/header" %>
<%# /検索 %>
<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<%# お気に入り一覧%>
<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>
<div class='post-contents'>
  <ul class='post-lists'>
    <% @favorite_posts.each do |favorite| %>
    <li class='list'>
      <div class='post-campsite'>
        <%= link_to favorite.campsite, "#", method: :get %>
      </div>
      <%= link_to post_path(post.id), method: :get do %>
      <div class='post-img-content'>
        <%= image_tag favorite_posts.image, class: "post-img" %>
      </div>
      <div class='post-info'>
        <div class='user_name'>
          <%= link_to favorite_posts.user.nickname, "/users/#{post.user_id}", method: :get %>
        </div>
        <div class='post_text'>
          <%= favorite_posts.text %>
        </div>
        <div class='post_tag'>
          <%#=　"タグ"　%>
        </div>
      </div>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<%= render "shared/footer" %>