<%= render "shared/header" %>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>
<% if user_signed_in? && current_user.id == @user.id %>
  <span><%= link_to "お気に入り一覧", post_favorites_path(@user.id) %></span>
<% end %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <div>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-8">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">
                  <%= link_to post.campsite, "#", method: :get %>
                </h4>
              </div>
              <%= link_to post_path(post.id), method: :get do %>
                <%= image_tag post.image, class: "img-fluid" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-subtitle"><%= link_to post.user.nickname, "/users/#{post.user_id}", method: :get %></h5>
                <div id="favorites_buttons_<%= post.id %>">
                  <%= render partial: 'favorites/favorite', locals: { post: post} %>
                </div>
                <h5 class="card-text"><%= post.text %></h5>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>