<%= render "shared/header" %>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>
<% if user_signed_in? && current_user.id == @user.id %>
  <span><%= link_to "お気に入り一覧", favorites_posts_path(@user.id) %></span>
<% end %>
<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <div>
      <div class="user__post">
        <div class='post-contents'>
          <ul class='post-lists'>
            <% @posts.each do |post| %>
            <li class='list'>
              <%= link_to post_path(post.id), method: :get do %>
              <div class='post-campsite'>
                <%= post.campsite %>
              </div>
              <div class='post-img-content'>
                <%= image_tag post.image, class: "post-img" %>
              </div>
              <div class='post-info'>
                <div class='user_name'>
                  <%= post.user.nickname %>
                </div>
                <div class='post_text'>
                  <%= post.text %>
                </div>
                <div class='post_tag'>
                  <%#=　"タグ"　%>
                </div>
              </div>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>