<%= render "shared/header" %>
<%# 投稿情報%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">都道府県検索</a>
        <%= render "posts/prefecture" %>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "マップ検索", "#" %></span>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "お気に入り一覧", post_favorites_path(current_user.id) %></span>
      </li>
    </ul>
  </div>
</nav>

<h2>NEW POST</h2>
<%= form_with(model: @post, local: true) do |f| %>
  <form>
    <div class="form-group">
      <label for="post-image">Picture(必須)</label>
      <%= f.file_field :image, id:"post-image" %>
    </div>
    <div class="form-group">
      <label for="campsite">キャンプ場名(必須)</label>
      <%= f.text_area :campsite, class:"post-text", id:"campsite", placeholder:"キャンプ場名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <div class="form-group">
      <label for="post-info">コメント</label>
      <%= f.text_area :text, class:"post-text", id:"post-info", placeholder:"コメント（1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="form-group">
      <label for="post-place">場所(必須)</label>
      <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"select-box", id:"post-place"}) %>
    </div>
    <div class="form-group">
      <label for="post-info">住所</label>
      <%= f.text_field :address, id:"post-address", placeholder: "都道府県から" %>
    </div>
    <div class="form-group">
      <label for="post-toilet">トイレ(必須)</label>
      <%= f.collection_select(:toilet_id, Toilet.all, :id, :name, {}, {class:"select-box", id:"post-toilet"}) %>
    </div>
    <div class="form-group">
      <label for="post-water">水道(必須)</label>
      <%= f.collection_select(:water_id, Water.all, :id, :name, {}, {class:"select-box", id:"post-water"}) %>
    </div>
    <div class="form-group">
      <label for="post-fire">火(必須)</label>
      <%= f.collection_select(:fire_id, Fire.all, :id, :name, {}, {class:"select-box", id:"post-fire"}) %>
    </div>
    <div class="form-group">
      <label for="post-gomi">ごみ捨て場(必須)</label>
      <%= f.collection_select(:gomi_id, Gomi.all, :id, :name, {}, {class:"select-box", id:"post-gomi"}) %>
    </div>
    <div class="form-group">
      <label for="post-river">立地(必須)</label>
      <%= f.collection_select(:river_id, River.all, :id, :name, {}, {class:"select-box", id:"post-river"}) %>
    </div> 
    <div class="form-group">
      <label for="post-price">サイト料(必須)</label>
      <span class="sell-yen">¥</span>
      <%= f.text_field :price, class:"price-input", id:"post-price", placeholder:"例）1000" %>
    </div>
    <div class="form-group row">
      <%= f.submit "POST" ,class:"btn btn-primary" %>
    </div>
  </form>
<% end %>


<%= render "shared/footer" %>
