<%= render "shared/header" %>

<%# 投稿の概要 %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">都道府県検索</a>
        <%= render "posts/prefecture" %>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "マップ検索", "#" %></span>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "お気に入り一覧", post_favorites_path(current_user.id) %></span>
      </li>
    </ul>
  </div>
</nav>

<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>

<h2><%= @place.name %>にあるキャンプ場一覧</h2>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= link_to post.campsite, "#", method: :get %>
          </h4>
        </div>
        <%= link_to post_path(post.id), method: :get do %>
          <%= image_tag post.image, class: "img-fluid" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-subtitle">@<%= link_to post.user.nickname, "/users/#{post.user_id}", method: :get %></h5>
          <div id="favorites_buttons_<%= post.id %>">
             <%= render partial: 'favorites/favorite', locals: { post: post} %>
          </div>
          <h5 class="card-text"><%= post.text %></h5>
        </div>
      </div>
    </div>
  <% end%>
</div>
<%= render "shared/footer" %>