<%= render "shared/header" %>

<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @posts.each do |post| %>
    <li class='list'>
      <%= link_to post_path(post.id), method: :get do %>
      <div class='post-campsite'>
        <%= post.campsite %>
      </div>
      <div class='post-img-content'>
        <%= image_tag post.image, class: "post-img" %>
      </div>
      <div class='post-info'>
        <div class='user_name'>
          <%= post.user.nickname %>
        </div>
        <div class='post_text'>
          <%= post.text %>
        </div>
        <div class='post_tag'>
          <%#=　"タグ"　%>
        </div>
      </div>
      <% end %>
    </li>
  <% end %>
</div>

<%= render "shared/footer" %>