<%= render "shared/header" %>

<%# 投稿の概要 %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline">
      <%= form_with(url: search_posts_path, local: true, method: :get) do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワード検索", class: "form-control mr-sm-2" %>
        <%= form.submit "検索", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">都道府県検索</a>
        <%= render "posts/prefecture" %>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "マップ検索", "#" %></span>
      </li>
      <li class="nav-item">
        <span class="nav-link"><%= link_to "お気に入り一覧", post_favorites_path(current_user.id) %></span>
      </li>
    </ul>
  </div>
</nav>
<h4><%= link_to "<< TOP", root_path, class: "top_bottun" %></h4>
<div class="container">
  <div class="col-8 center">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= @post.campsite %></h3>
      </div>
        <%= image_tag @post.image ,class:"img-fluid" %>
      <div class="card-body">
        <h4 class="card-title">@<%= link_to @post.user.nickname, "/users/#{@post.user_id}", method: :get %></h4>
        <div class="d-inline" id="favorites_buttons_<%= @post.id %>">
          <%= render partial: 'favorites/favorite', locals: { post: @post} %>
        </div>
        <p class="card-text"><%= @post.text %></p>
      </div>
    </div>
  </div>

  <div class="col-6 ml-2">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" >場所</th>
          <td><%= @post.place.name %></td>
        </tr>
        <tr>
          <th scope="row">住所</th>
          <td><%= @post.address %></td>
        </tr>
        <tr>
          <th scope="row">トイレ</th>
          <td><%= @post.toilet.name %></td>
        </tr>
        <tr>
          <th scope="row">水道</th>
          <td><%= @post.water.name %></td>
        </tr>
        <tr>
          <th scope="row">ゴミ</th>
          <td><%= @post.gomi.name %></td>
        </tr>
        <tr>
          <th scope="row">たき火</th>
          <td><%= @post.fire.name %></td>
        </tr>
        <tr>
          <th scope="row">立地</th>
          <td><%= @post.river.name %></td>
        </tr>
        <tr>
          <th scope="row">サイト料</th>
          <td>¥<%= @post.price%></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>MAP</h2>
  <div id="map"></div>
  <style type="text/css">
  #map {
    height: 300px;
    width: 70%;
  }
  </style>

  <script>
  function initMap(){
    let transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    let contentString = '<%= @post.campsite %>：<%= @post.address %>';
    let infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    let geocoder = new google.maps.Geocoder();
    geocoder.geocode({address: '<%= @post.address %>'},function(results,status){
      if (status == 'OK'){
        map = new google.maps.Map(document.getElementById("map"),{
          center: results[0].geometry.location,
          zoom: 12
        });
        let marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map,
          title: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      };
    })
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5IBI1uKD_cvsflrRSl-LVDhxdWjeZNFQ&callback=initMap" async defer ></script>



  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">レビュー</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" rola=dialog aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="model-header">
          <h5 class="modal-title" id="exampleModalLabel">レビュー投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_with(model: [@post,@review], local: true) do |f| %>
          <div class="form-group">
            <label for="formGroupleInput">訪問日</label>
            <%= f.date_field :visit_day, id:"date-info" %>
          </div>
          <div class="form-group">
            <label for="formGroupleInput">コメント</label>
            <%= f.text_area :comment, class:"form-control", id:"formGroupExampleInput", placeholder:"コメント（1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
          </div>
          <div class="form-group">
            <label for="formGroupleInput">写真</label>
            <%= f.file_field :image, id:"post-image" %>
          </div>
        </div>
        <div class="modeal-footer actions">
          <%= f.submit "投稿", class:"btn btn-primary justtify-content-end" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if user_signed_in? && current_user.id == @post.user_id %>
    <button type="button" class="btn-danger d-inline"><%= link_to '編集', edit_post_path, method: :get %></button>
    <button type="button" class="btn-danger d-inline"><%= link_to '削除', post_path, method: :delete %></button>
  <% end %>

  <h3 class = "font-weight-bold" >みんなのキャン活</h3>
  <div class="overflow-auto col-8" style="height:40vh;">
    <% @reviews.each do |review| %>
      <div class = "card" >
        <div class = "card-body" >
          <P class="card-tittle d-inline"><%= link_to review.user.nickname, "/users/#{review.user_id}", method: :get %></P>
          <p class="card-text d-inline"><%= review.visit_day %></P>
          <p class="card-text"><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>

  <h3 class = "font-weight-bold">みんなの写真</h3>
  <div class="row">
    <% @reviews.each do |review| %>
      <% if review.image.present? %>
        <div class="img-thumbnail　d-inline-block m-1">
          <%= image_tag review.image, :size =>'200x200'%>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>